:root {
    --bg-point: rgb(147, 203, 238);
}

.box-page {
    display: flex;
    flex-direction: column;
}

.box-game-play {
    display: grid;
    grid-template-areas: "god1 god1 god1"
                         "card-all1 card-hand1 card-hand1"
                         "card-play1 card-play1 card-play1"
                         "hr hr hr"
                         "card-play2 card-play2 card-play2"
                         "card-hand2 card-hand2 card-all2"
                         "god2 god2 god2";              
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 6px;
    background-color: #41dfd218;
    background: linear-gradient(to bottom, #41dfd218, #5ae0d563);
    background-repeat: no-repeat;
    max-height: 100vh;
    /* background-image: url("https://i.pinimg.com/originals/60/1c/71/601c715eee01e1faeda7ecc9ecf1677c.jpg"); */
    /* opacity: 0.5; */
}

.god {
    display: flex;
    font-size: 2em;
    color: black;
    width: 9vmax;
    height: 9vmax;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    background-color: rgb(223, 199, 221);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.849);
    align-self: center;
    /* position: absolute; */
    z-index: 1;
}

.god-self {
    bottom: 6px;
}

.god-enemy {
    top: 6px;
}

.armor-bar {
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 1em;
    width: 110px;
    height: 20px;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.185);
    /* position: absolute; */
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

.armor-bar-color {
    height: 100%;
    background-color: rgb(195, 197, 202);
    background: linear-gradient(to top, rgb(195, 197, 202), rgb(230, 232, 236));
}

.armor-bar p {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}

.armor-bar-self {
    top: 0%;
}

#armor-bar-hidden {
    visibility: hidden;
}

.hp-bar {
    display: flex;
    align-items: center;
    align-self: center;
    width: 110px;
    height: 20px;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.185);
    /* border: 1px solid rgba(158, 158, 158, 0.705); */
    position: relative;
    z-index: 2;
}

.hp-bar-color {
    height: 100%;
    background-color: rgb(49, 212, 85);
    background: linear-gradient(to top, rgb(49, 212, 85), rgb(187, 253, 200));
}

.hp-bar p {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}

.card-all {
    background-color: gold;
    width: 20%;
    min-width: 80px;
    max-width: 2vw;
    height: 100%;
    justify-self: center;
    border: 1px solid white;
    box-shadow: 8px 1.5px 2px rgba(151, 151, 151, 0.719);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.card-hand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: relative;
    margin: 0px 1%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.151);
    height: 100%;
}

.card-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    max-width: 90px;
    height: 11vh;
    background-color: rgba(182, 182, 182, 0.842);
    border: 3px solid rgba(172, 172, 172, 0.986);
    box-shadow: 1px 1px 3px rgba(160, 161, 163, 0.794);
    color: #fff;
    font-size: 1.3em;
}

.god1 {
    grid-area: god1;
    display: inline-flex;
    justify-content: center;
    position: relative;
    height: 15vh;
}

.box-god {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    /* position: relative; */
}

.card-all1 {
    grid-area: card-all1;
    background-color: rgb(223, 199, 199);
    height: 14vh;
}

.card-hand1 {
    grid-area: card-hand1;
    height: 14vh;
}

.card-play1 {
    grid-area: card-play1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
}

.god2 {
    /* display: grid; */
    display: inline-flex;
    justify-content: center;
    grid-area: god2;
    position: relative;
    height: 15vh;
    /* grid-template-columns: 1fr 100px; */
    /* grid-template-rows: 1fr; */
}

.card-all2 {
    grid-area: card-all2;
    height: 14vh;
}

.card-hand2 {
    grid-area: card-hand2;
    height: 14vh;
}

.card-play2 {
    grid-area: card-play2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin: 0px 12px;
    height: 14vh;
}

.hr {
    grid-area: hr;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
}

.point1 {
    color: red;
}

.point {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 121, 238);
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgb(95, 133, 238), rgba(95, 133, 238, 0.383));
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 7vmax;
    width: 7vmax;
    max-width: 80px;
    max-height: 80px;
    margin: 0px 1%;
    align-self: center;
    position: relative;
}

.point p {
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute;
    top: 25%;
    left: 40%; */
    font-size: 1.8em;
    margin: 0px;
    color: #eee;
}

.bd1 {
    /* border: 1px solid black; */
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12%;
    min-width: 80px;
    max-width: 10vw;
    height: 90%;
    margin: 3px 12px;
    border: 1px solid white;
    bottom: 1%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.card1 {
    background-color: rgb(223, 199, 199);
}

.card2 {
    background-color: gold;
}

.card:focus {
    outline: red auto 5px;
}

#rooms {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-detail {
    display: flex;
    flex-direction: column;
    /* word-wrap: break-word; */
    margin-left: 12px;
    height: 90%;
    width: 60%;
    font-family: 'Kanit', sans-serif;
    position: relative;
}

.card-description {
    text-align: start;
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
    /* font-size: 4vw; */
}

.card-point {
    position: absolute;
    bottom: 1px;
    height: 10%;
    font-size: .9em;
    bottom: 12px;
    margin: 0;
    right: 6px;
}

.box-display-win {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* border: 1px solid salmon; */
    text-align: center;
    width: 70%;
    margin-top: 3%;
    height: auto;
    max-height: 30%;
    color: #5bdf41;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box-display-win h1 {
    transform: rotate(15deg);
    /* border: 1px solid salmon; */
    width: 30%;
}

#win-not-show {
    display: none;
}

#win-show {
    display: flex;
}

.back-drop-end-game {
  box-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 118;
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.back-drop-end-game .WIN {
    color: #5bdf41;
    font-size: 3em;
    text-shadow: -1px 0 black, 1px 1.5px black, 1.8px 0 black, 0 -1px black;
    margin-top: -24px;
}

.back-drop-end-game .player-win-game {
    font-size: 2em;
    text-shadow: -1px 0 black, 1px 1.5px white, 1.8px 0 white, 0 -1px white;
}

.back-drop-end-game .icon-close {
    display: flex;
    position: absolute;
    top: 1px;
    right: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ddd;
    cursor: pointer;
}

.btn-ok {
    background-color: #4ef09a;
    background: linear-gradient(to top, #4ef09a, #7ffcb9da);
    /* border: 5px solid #85f6ba; */
    border: none;
    color: #fff;
    width: 10vw;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 10%;
    margin-right: 1%;
    font-size: 18px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-ok:hover {
    border: 2px solid #4ef09a;
}

.btn-sell {
    background-color: #878b89;
    background: linear-gradient(to top, #9b9b9b, #c3c3c3c9);
    border: none;
    color: #fff;
    width: 10vw;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 10%;
    margin-left: 1%;
    font-size: 18px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-sell:hover {
    border: 2px solid #878b89;
}

.player-enemy-name {
    margin: 0;
    width: 30%;
    position: absolute;
    word-wrap: break-word;
    align-self: center;
    text-align: end;
    font-size: 24px;
    font-weight: 500;
    right: 16px;
    color: rgb(63, 63, 63);
}

.player-self-name {
    margin: 0;
    width: 30%;
    position: absolute;
    word-wrap: break-word;
    align-self: center;
    font-size: 24px;
    font-weight: 500;
    left: 16px;
    color: rgb(63, 63, 63);
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.294); */
}

@media only screen and (min-width: 1050px) {

}
