:root {
    --bg-point: rgb(147, 203, 238);
}

.box-page {
    display: flex;
    flex-direction: column;
}

.box-game-play {
    display: grid;
    grid-template-areas: "god1 god1 god1"
                         "card-all1 card-hand1 card-hand1"
                         "card-play1 card-play1 card-play1"
                         "hr hr hr"
                         "card-play2 card-play2 card-play2"
                         "card-hand2 card-hand2 card-all2"
                         "god2 god2 god2";              
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 12px;
    background-color: #41dfd218;
    background: linear-gradient(to bottom, #41dfd218, #5ae0d563);
    background-repeat: no-repeat;
    max-height: 100vh;
    /* background-image: url("https://i.pinimg.com/originals/60/1c/71/601c715eee01e1faeda7ecc9ecf1677c.jpg"); */
    /* opacity: 0.5; */
}

.god {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    background-color: rgb(223, 199, 221);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.849);
    position: relative;
    z-index: 1;
}

.god-self {
    bottom: 10px;
}

.god-enemy {
    top: 10px;
}

.armor-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 80px;
    height: 20px;
    background-color: rgb(110, 151, 240);
    background: linear-gradient(to top, rgb(110, 151, 240), rgb(168, 195, 255));
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.185);
    position: relative;
    z-index: 2;
}

.armor-bar-none {
    display: none;
}

#armor-bar-hidden {
    visibility: hidden;
}

.hp-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 80px;
    height: 20px;
    background-color: rgb(49, 212, 85);
    background: linear-gradient(to top, rgb(49, 212, 85), rgb(187, 253, 200));
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.185);
    position: relative;
    z-index: 2;
}

.card-all {
    background-color: gold;
    width: 20%;
    min-width: 80px;
    max-width: 10vh;
    height: 90%;
    justify-self: center;
    border: 1px solid white;
    box-shadow: 8px 1.5px 2px rgba(151, 151, 151, 0.719);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.card-hand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: relative;
    padding: 0px 7%;
    margin: 0px 1%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.151);
}

.card-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(182, 182, 182, 0.842);
    border: 3px solid rgba(172, 172, 172, 0.986);
    box-shadow: 1px 1px 3px rgba(160, 161, 163, 0.794);
    color: #fff;
    font-size: 1.3em;
}

.god1 {
    display: grid;
    grid-area: god1;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
}

.box-god {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.card-all1 {
    grid-area: card-all1;
    background-color: rgb(223, 199, 199);
}

.card-hand1 {
    grid-area: card-hand1;
}

.card-play1 {
    grid-area: card-play1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.god2 {
    display: grid;
    grid-area: god2;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
}

.card-all2 {
    grid-area: card-all2;
    
}

.card-hand2 {
    grid-area: card-hand2;
}

.card-play2 {
    grid-area: card-play2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin: 0px 12px;
}

.hr {
    grid-area: hr;
    align-self: center;
    display: inline-flex;
    justify-content: space-between;
}

.point1 {
    color: red;
}

.point {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 121, 238);
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgb(95, 133, 238), rgba(95, 133, 238, 0.383));
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: 0px 1%;
    align-self: center;
    position: relative;
}

.point p {
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute;
    top: 25%;
    left: 40%; */
    font-size: 1.8em;
    margin: 0px;
    color: #eee;
}

.bd1 {
    /* border: 1px solid black; */
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12%;
    min-width: 80px;
    max-width: 10vh;
    height: 90%;
    margin: 3px 12px;
    border: 1px solid white;
    bottom: 1%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.card1 {
    background-color: rgb(223, 199, 199);
}

.card2 {
    background-color: gold;
}

.card:focus {
    outline: red auto 5px;
}

.hr {
    height: 50px;
    border: none;
}

#rooms {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    margin-left: 12px;
    height: 100%;
    width: 60%;
    text-align: center;
}

.card-description {
    text-align: start;
    height: 90%;
    font-family: 'Kanit', sans-serif;
}

.card-point {
    position: relative;
    text-align: end;
    bottom: 1px;
    height: 10%;
}

.box-display-win {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* border: 1px solid salmon; */
    text-align: center;
    width: 70%;
    margin-top: 3%;
    height: auto;
    max-height: 30%;
    color: #5bdf41;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box-display-win h1 {
    transform: rotate(15deg);
    /* border: 1px solid salmon; */
    width: 30%;
}

#win-not-show {
    display: none;
}

#win-show {
    display: flex;
}

.back-drop-end-game {
  box-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 118;
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.back-drop-end-game .WIN {
    color: #5bdf41;
    font-size: 3em;
    text-shadow: -1px 0 black, 1px 1.5px black, 1.8px 0 black, 0 -1px black;
    margin-top: -24px;
}

.back-drop-end-game .player-win-game {
    font-size: 2em;
    text-shadow: -1px 0 black, 1px 1.5px white, 1.8px 0 white, 0 -1px white;
}

.back-drop-end-game .icon-close {
    display: flex;
    position: absolute;
    top: 1px;
    right: 12px;
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ddd;
    cursor: pointer;
}

.btn-ok {
    background-color: #4ef09a;
    background: linear-gradient(to top, #4ef09a, #7ffcb9da);
    /* border: 5px solid #85f6ba; */
    border: none;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin-right: 1%;
    font-size: 18px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-ok:hover {
    border: 2px solid #4ef09a;
}

.btn-sell {
    background-color: #878b89;
    background: linear-gradient(to top, #9b9b9b, #c3c3c3c9);
    border: none;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin-left: 1%;
    font-size: 18px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-sell:hover {
    border: 2px solid #878b89;
}

@media only screen and (min-width: 1050px) {

}
