body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-home {
  display: flex;
  flex-direction: column;
  background-image: url('https://steamcdn-a.akamaihd.net/steam/apps/397060/ss_de8c332f3c763bd2f9ae7552452ffa436c13e624.600x338.jpg?t=1561481537');
  min-height: 100vh
}

.row {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.btn {
  height: 30px;
}
